.main{
  background-color: #a8f7c5;
}

#buttonMenu{
  position: absolute;
  width: 30%;
  left: 35%;
  top: 30%;
}

.menuButtons{
  font-family: "Poiret One";
  font-size: 200%;
  width: 100%;
  padding: 2%;
  margin-top: 1%;
  border-color: blueviolet;
  border-width: thick;
  border-radius: 5px;
  color: red;
  background-color: blue;
  /* Unica One, Poiret One, Paytone One */
}

.heading{
  font-weight: bold;
  font-size: 120%;
}

.subheading{
  font-style: italic;
}

#errorMessage{
  color: red;
  font-weight: bold;
}

input{
  border-radius: 25px 25px 25px 25px;
  border-style: solid;
  border-color: lightgray;
  padding: 0.5%;
  margin-bottom: 1%;
}